nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 8vh;
    max-height: 20vh;
    padding: 5%;

    span {
        font-family: bold;
    }

    .logo {
        color: var(--text);
        text-decoration: none;

        span:hover {
            color: var(--drop-hover);
        }
    }

    .nav-links {
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        width: 30%;

        .router-link-active {
            color: var(--text);
        }

        li {
            list-style: none;
        }

        a {
            font-family: bold;
            color: var(--drop-text);
            display: block;
            padding: 8px;
            text-decoration: none;
            transition: 0.3s;
        }
        a:hover,
        a:focus {
            color: var(--drop-hover);
        }
        path:hover {
            fill: var(--drop-hover);
        }
    }

    .nav-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }

    .burger {
        display: none;
        cursor: pointer;

        div {
            width: 25px;
            height: 2px;
            background-color: var(--text);
            border-radius: 5px;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }

    .open {
        .line1 {
            transform: rotate(-45deg) translate(-5px, 5px);
        }
        .line2 {
            opacity: 0;
        }
        .line3 {
            transform: rotate(45deg) translate(-5px, -5px);
        }
    }
}

.resize-animation-stopper * {
    transition: none !important;
    animation: none !important;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    nav {
        .nav-links {
            width: 40%;
        }
    }
}

@media only screen and (max-width: 768px) {
    nav {
        height: 15vh;
        .burger {
            z-index: 2;
            display: inline;
        }
        .nav-links {
            z-index: 3;

            position: absolute;
            flex-direction: column;

            background-color: var(--drop);
            border-radius: 10px 0px 0px 10px;
            top: calc(15vh);
            right: 0px;
            width: 50%;
            padding-right: 5%;
            min-height: 180px;

            transform: translateX(100%);
            transition: transform 0.5s ease-in;
        }
        .nav-active {
            transform: translateX(0%);
        }
        .logo {
            z-index: 4;
        }
    }
}
