html {
  --blue: #00a3ff;
  --text: #000000;
  --text-home: #ffffff;
  --bg: #ffffff;
  --bg-home: #4e4e4e;
  --bg-input: #dfdfdf;
  --menu-drop: #dfdfdf;
  --menu-drop-text: #000000;
  --menu-drop-hover: #4e4e4e;
}

html[data-theme="dark"] {
  --text: #dfdfdf;
  --text-home: #000000;
  --bg: #000000;
  --bg-home: #000000;
  --bg-input: #4e4e4e;
  --menu-drop: #4e4e4e;
  --menu-drop-text: #dfdfdf;
  --menu-drop-hover: #ffffff;
}

.hidden {
  display: none !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: regular, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  color: var(--text);
  background-color: var(--bg);
}

button {
  background: none;
  border: none;
}

@font-face {
  font-family: "bold";
  src: url(../fonts/PTSans-Bold.ttf);
}

@font-face {
  font-family: "regular";
  src: url(../fonts/PTSans-Regular.ttf);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 8vh;
  padding: 5%;
}

nav .logo {
  color: var(--text);
  font-family: regular;
  text-decoration: none;
  z-index: 2;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav .nav-links li {
  list-style: none;
}

nav .nav-links a {
  color: var(--menu-drop-text);
  display: block;
  padding: 8px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

nav .nav-links a:hover,
nav .nav-links a:focus {
  color: var(--menu-drop-hover);
}

nav .burger {
  display: none;
  cursor: pointer;
}

nav .burger div {
  width: 25px;
  height: 2px;
  background-color: var(--text);
  border-radius: 5px;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .open .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

nav .open .line2 {
  opacity: 0;
}

nav .open .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav .nav-links {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  nav {
    height: 15vh;
  }
  nav .burger {
    z-index: 1;
    display: inline;
  }
  nav .nav-links {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--menu-drop);
    border-radius: 10px 0px 0px 10px;
    top: calc(15vh);
    right: 0px;
    width: 50%;
    padding-right: 5%;
    min-height: 180px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  nav .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--bg);
  color: var(--text);
  z-index: 9999;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-loader .loader {
  margin-top: 50px;
  border: 8px solid var(--text);
  border-top: 8px solid var(--blue);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .contact-form {
  padding: 5%;
  background-color: var(--bg-input);
  max-height: calc(100vh - 5%);
  overflow-y: auto;
  min-width: 300px;
  max-width: 80%;
  border-radius: 10px;
  z-index: 3;
}

.modal .contact-form .error {
  border: solid thin;
  border-color: red !important;
}

.modal .contact-form .error-list {
  padding-bottom: 10px;
}

.modal .contact-form .error-list li {
  display: inline;
}

.modal .contact-form .error-list li:after {
  content: ", ";
}

.modal .contact-form .error-list li:nth-child(n + 2):last-child:before {
  content: "and ";
}

.modal .contact-form .error-list li:last-child:after {
  content: "";
}

.modal .contact-form button {
  background-color: var(--bg);
  border: medium solid var(--blue);
  border-radius: 22px;
  color: var(--blue);
  font-size: 16px;
  padding: 10px 30px;
}

.modal .contact-form .btn-close {
  border: none;
  background: none;
  padding: 0px;
  padding-bottom: 10px;
}

.modal .contact-form .btn-close path {
  fill: var(--text);
}

.modal .contact-form label {
  font-size: 16px;
}

.modal .contact-form input {
  margin-bottom: 10px;
}

.modal .contact-form textarea {
  resize: vertical;
  min-height: calc(30px);
}

.modal .contact-form input,
.modal .contact-form textarea {
  padding: 5px 8px;
  font-size: 16px;
  border-radius: 2px;
  border-style: none;
  width: 100%;
  background-color: var(--bg);
}

.modal .contact-form input :focus,
.modal .contact-form textarea :focus {
  border-color: var(--blue);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.socials li {
  padding: 10px;
  list-style: none;
}

.socials path {
  fill: var(--text);
}

.body-home {
  background-image: url(../images/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-home);
  color: var(--text-home);
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: center;
  padding: 5%;
}

.home h1 {
  font-size: 48px;
}

.home a {
  color: var(--text);
}

.home button {
  background-color: var(--bg);
  border: medium solid var(--blue);
  border-radius: 22px;
  color: var(--blue);
  font-size: 16px;
  padding: 10px 30px;
}

.home .button {
  padding-top: 20px;
  font-family: bold;
  text-align: center;
}

.post {
  padding: 0% 5% 5% 5%;
}

.post .links .github {
  padding-right: 10px;
}

.post h1 {
  padding: 10px 0px;
  font-size: 24px;
}

.post .image {
  margin: 10px 0px 20px 0px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 150px;
  height: 150px;
}

.post p {
  padding: 10px 0px;
  font-size: 16px;
  white-space: pre-wrap;
}

.post path {
  fill: var(--text);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0% 5% 5% 5%;
}

.about button {
  background-color: var(--bg);
  border: medium solid var(--blue);
  border-radius: 22px;
  color: var(--blue);
  font-size: 16px;
  padding: 10px 30px;
}

.about .image {
  margin: 10px 0px 20px 0px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
}

.about h1 {
  font-size: 24px;
  padding: 10px 0px;
}

.about p {
  font-size: 16px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */