html {
    --bg: #e9e9e9;
    --bg-image: url("../images/home_light.jpeg");
    --blue: #00a3ff;

    --btn-hover: #4e4e4e;
    --btn-hover-text: #ffffff;

    --drop-hover: #000000;
    --drop-text: #a0a0a0;
    --drop: #dfdfdf;

    --text: #000000;

    --icon: #000000;
    --icon-hover: #4e4e4e;

    --form-bg: #dfdfdf;
    --form-input-bg: #ffffff;
    --form-input-border: #00a3ff;
    --form-input-text: #000000;
    --form-text: #000000;
}

html[data-theme="dark"] {
    --bg: #000000;
    --bg-image: url("../images/home_dark.jpeg");

    --drop-hover: #ffffff;
    --drop-text: #a0a0a0;
    --drop: #4e4e4e;

    --text: #dfdfdf;

    --icon: #dfdfdf;
    --icon-hover: #ffffff;

    --form-bg: #4e4e4e;
    --form-input-bg: #dfdfdf;
    --form-input-border: #00a3ff;
    --form-input-text: #000000;
    --form-text: #ffffff;
}

.hidden {
    display: none !important;
}
