.post {
    padding: 0% 5% 5% 5%;
    // display: flex;
    // flex-direction: column;

    .links .github {
        padding-right: 10px;
    }

    h1 {
        padding: 10px 0px;
        font-size: 24px;
    }

    .image {
        @include roundImage;
        width: 150px;
        height: 150px;
    }

    p {
        padding: 10px 0px;
        font-size: 16px;
        white-space: pre-wrap;
        a {
            color: var(--drop-text);
            font-family: bold;
            text-decoration: none;
        }
    }

    path {
        fill: var(--text);
    }
}

@media only screen and (min-width: 1080px) {
    .post {
        display: grid;
        grid-template-columns: 20% 1fr;

        h1 {
            grid-row: 1/2;
            font-size: 48px;
        }

        .image {
            grid-row: 2/3;
        }

        .right {
            grid-row: 2/3;
            grid-column: 2/3;
        }
    }
}
