*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: regular, sans-serif;
}

*:focus,
*:active {
    outline: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE and Edge */
* {
    -ms-overflow-style: none;
}

html,
body {
    position: relative;
    overflow-x: hidden;

    color: var(--text);
    background-color: var(--bg);
}

button {
    background: none;
    border: none;
}

svg {
    stroke: none;
    :hover {
        cursor: pointer;
    }
}
